@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {

    --bronze-main: #c77339;
    --bronze-shade: #af5830;
    --bronze-dark: #92412b;
    --bronze-light: #ce8a46;

    --teal-main: #0abf96;
    --teal-shade: #009b7b;
    --teal-dark: #007560;
    --teal-light: #2fd8ac;

    --text: hsl(0, 0%, 95%);
    --text-dark: hsl(0, 0%, 5%);
    --text_secondary: hsl(0, 0%, 90%);

    --bg: #f1f1f1;

}

* {

    padding: 0;
    margin: 0;

    font-family: "Iosevka Charon", Arial, Helvetica, sans-serif;

}

body {

    background-color: var(--bg);

}