nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    width: calc(100% - 4em);
    padding: 0 2em;

    background-color: var(--bronze-main);
    color: var(--text-white);

    box-shadow: var(--box-shadow);

    position: fixed;
    top: 0;

}

nav div {
    display: flex;
    justify-content: space-between;

    padding: 0 2em;
    gap: 1em;

    transition: 200ms;
}

nav div p{

    border-radius: .5em;

    padding: .5em;
    cursor: pointer;

    color: var(--text-white);

    transition: 200ms;

}

nav div p:hover{

    color: var(--bronze-main);
    background-color: var(--text-white);

}

nav div button {

    border: none;

    padding: .5em;

    background-color: var(--text-white);
    color: var(--bronze-main);
    font-weight: bold;
    border-radius: .5em;
    cursor: pointer;
    
    transition: 200ms;

}

nav div button:hover {

    transform: scale(1.1);
    background-color: var(--text-white-secondary);

    transition: 200ms;

}

nav h1 {
    font-weight: bold;
}

.banner {
    
    width: 100%;
    height: 47em;
    
    background-image: url("../images/pathernon.webp");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    position: relative;

    z-index: -1;
    
    box-shadow: var(--box-shadow);

}

.banner .banner-text{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text-white);

    backdrop-filter: blur(2px);

}

.banner .banner-text h1 {

    font-size: 5em;
    
}

.banner .banner-text p {

    font-size: 2em;
    
}

hr {

    border: none;
    height: 2px;

    background-color: var(--text-white-secondary);

    width: calc(100% - 6em);
    margin-left: 3em;

    margin-top: 2em;
    margin-bottom: 2em;

}

main {
    
    width: calc(100% - 4em);
    margin-left: 2em;

}

main section {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 1em;

}

main h1 {
    font-size: 2em;
    line-height: 1.5em;
}

main h2 {
    font-size: 1.5em;
    font-weight: normal;
}

main p.main-text {

    font-size: 1.25em;
    width: calc(100% - 10em);

    text-align: center;

}

.icons {

    display: flex;
    flex-direction: row;

    align-items: start;


}

.icons .icon-frame {

    width: 15em;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    gap: 2em;

}

.icons .icon-frame p {
    font-size: 1.5em;
}

.icons .icon {

    width: 10em;
    height: 10em;

    background-color: var(--teal-dark);

    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

}

.icons .icon svg {

    fill: var(--text-white);

    height: 5em;
    width: 5em;

}

.buttons{

    display: flex;

    gap: 2em;

}

.buttons button {

    border: none;

    padding: .2em .5em;

    display: flex;
    align-items: center;

    cursor: pointer;

    transition: 200ms;

}

.main-btn {


    background-color: var(--bronze-shade);
    color: var(--text-white);

    gap: .5em;

    font-size: 1.5em;

    font-weight: bold;

    border-radius: .5em;

}

.main-btn:hover {

    background-color: var(--bronze-dark);

    transition: 200ms;

}

.main-btn svg {

    fill: var(--text-white);

    height: 2em;
    width: 2em;

    transition: 200ms;

}

.secondary-btn {
    
    background-color: var(--bg);

    font-size: 1.4em;
    
    gap: .5em;
    
    color: var(--text-dark);

    border-radius: .5em;
    
}

.secondary-btn:hover {

    background-color: var(--text-white-secondary);

    transition: 200ms;

}

.secondary-btn svg {

    fill: var(--text-black);

    height: 1em;
    width: 1em;

    transition: 200ms;

}

footer {

    height: 5em;

    background-color: var(--bronze-main);

    color: var(--text-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: .5em;

}

footer a {
    
    color: var(--text-white);

}