body::-webkit-scrollbar{
  display: none;
}

.scroll-container {
    height: calc(100vh - 5em);
    width: .7em;
    margin-top: 5em;


    position: fixed;
    right: 0;
    top: 0;

    transition: 200ms;

    display: flex;
    justify-content: end;

}

.scroll-container .thumb {

    height: 5em;
    width: 50%;
    background-color: var(--bronze-shade);

}

.scroll-container .thumb:hover {
    background-color: var(--bronze-dark);
}