.banner {
    
    width: 100%;
    height: 47em;
    
    background-image: url("../assets/pathernon.webp");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    position: relative;

    z-index: -1;
    
    box-shadow: var(--box-shadow);

}

.banner .banner-text{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text-white);

    backdrop-filter: blur(2px);

}

.banner .banner-text h1 {

    font-size: 5em;
    
}

.banner .banner-text p {

    font-size: 2em;
    
}