@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {

    --bronze-main: #c77339; /* 500 */
    --bronze-shade: #af5830; /* 600 */
    --bronze-dark: #92412b; /* 700 */
    --bronze-light: #ce8a46; /* 400 */
    --bronze-disabled: #e6c9a1; /* 200 */

    --teal-main: #0abf96; /* 500 */
    --teal-shade: #009b7b; /* 600 */
    --teal-dark: #007560; /* 700 */
    --teal-light: #2fd8ac; /* 400 */
    --teal-disabled: #a4f6d9; /* 200 */

    --text-default: hsl(0, 0%, 5%);
    --text-secondary: hsl(0, 0%, 15%);
    --lines: hsl(0, 0%, 30%);
    --lines-secondary: hsl(0, 0%, 60%);

    --text-white: hsl(0, 0%, 95%);
    --text-white-secondary: hsl(0, 0%, 85%);
    --text-black: hsl(0, 0%, 5%);
    --text-black-secondary: hsl(0, 0%, 15%);

    --bg: hsl(0, 0%, 95%);
    --bg-secondary: hsl(0, 0%, 85%);
    --bg-tertiary: hsl(0, 0%, 75%);

    --danger: #eb4848; /* 500 */
    --danger-light: #f57474; /* 400 */
    --danger-shade: #d82a2a; /* 600 */
    --danger-dark: #b52020; /* 700 */
    --danger-disabled: #fdcbcb; /* 400 */

    --warning: #fdca12; /* 400 */
    --warning-light: #ffde42; /* 300 */
    --warning-shade: #ecb106; /* 500 */
    --warning-dark: #cc8802; /* 600 */
    --warning-disabled: #ffef89; /* 200 */

    --success: #60c71b; /* 500 */
    --success-light: #7fe239; /* 400 */
    --success-shade: #48a111; /* 600 */
    --success-dark: #387912; /* 700 */
    --success-disabled: #c6f79f; /* 200 */
    
    --info: #4c8ce4; /* 500 */
    --info-light: #6faceb; /* 400 */
    --info-shade: #3871d8; /* 600 */
    --info-dark: #3871d8; /* 700 */
    --info-disabled: #c5def8; /* 200 */

    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.dark-mode {

    --text-default: hsl(0, 0%, 95%);
    --text-secondary: hsl(0, 0%, 85%);
    --lines: hsl(0, 0%, 70%);
    --lines-secondary: hsl(0, 0%, 30%);

    --bg: hsl(0, 0%, 6%);
    --bg-secondary: hsl(0, 0%, 16%);
    --bg-tertiary: hsl(0, 0%, 26%);

    --box-shadow: none;

}


* {

    padding: 0;
    margin: 0;

    font-family: "Iosevka Charon", Arial, Helvetica, sans-serif;

}

body {

    background-color: var(--bg);

}

hr {

    border: none;
    height: 2px;

    background-color: var(--text-white-secondary);

    width: calc(100% - 6em);
    margin-left: 3em;

    margin-top: 2em;
    margin-bottom: 2em;

}

/* 404 element */
main.pageNotFound {
    width: calc(100% - 6em);
    min-height: calc(100vh - 10em);
    margin-top: 5em;

    display: grid;
    place-items: center;
    grid-template-columns: 60% 40%;

    padding: 3em;

}

main.pageNotFound div {

    display: flex;
    flex-direction: column;
    align-items: center;

}

main.pageNotFound h1 {

    font-size: 4em;
    color: var(--text-black);

}

main.pageNotFound h2 {

    font-size: 2em;
    color: var(--text-black-secondary);

}