nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    width: calc(100% - 4em);
    padding: 0 2em;

    background-color: var(--bg-secondary);
    color: var(--text-default);

    border-bottom: 1px solid var(--bg-tertiary);
    box-shadow: var(--box-shadow);

    position: fixed;
    top: 0;

}

nav h1 {
    font-weight: bold;
    color: var(--bronze-600);
    user-select: none;
    cursor: pointer;
}

nav div {
    display: flex;
    justify-content: space-between;

    padding: 0 2em;
    gap: 1em;

    transition: 200ms;
}

nav div p {

    border-radius: .5em;

    padding: .5em;
    cursor: pointer;

    color: var(--text-default);

    transition: 200ms;

}

nav div p:hover {

    color: var(--bronze-600);
    background-color: var(--bg-secondary);

}

nav div button {

    border: none;

    padding: .5em 1em;

    background-color: var(--bronze-500);
    color: var(--text-white);
    font-weight: bold;
    border-radius: .5em;
    cursor: pointer;

    transition: 200ms;

}

nav div button:hover {

    background-color: var(--bronze-600);

}


nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2em;
    gap: 1em;

    position: relative;

}

nav .menu .navigation {

    padding: .2em .5em;

    font-size: var(--text-base);

    color: var(--text-secondary);

    user-select: none;
    cursor: pointer;

    transition: 200ms;

}

nav .menu .navigation:hover {

    background-color: var(--bg-secondary);
    color: var(--bronze-600);
    border-radius: .3em;

}

nav .menu button {

    display: flex;
    align-items: center;

    gap: .5em;
    padding: .3em .7em;

    font-size: var(--text-base);

    border: 1px solid var(--bg-tertiary);
    border-radius: .3em;

    background-color: var(--bg-secondary);

    color: var(--text-default);

    cursor: pointer;
    transition: 200ms;

}

nav .menu button svg {
    fill: var(--text-secondary);
    transition: 200ms;
}

nav .menu button:hover {

    background-color: var(--bg-tertiary);
    border-color: var(--lines-secondary);

}

nav .menu button:hover svg {

    fill: var(--text-default);

}

/* User menu */

.menu-items {

    position: absolute;

    background-color: var(--bg);
    box-shadow: var(--box-shadow);

    top: 3em;
    right: .2em;

    width: 15em;
    height: 10em;

    padding: .5em;

    border: 1px solid var(--bg-tertiary);
    border-radius: .5em;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease;

}

.menu-items.open {

    transform: scaleY(1);

}

.menu-items li {

    color: var(--text-default);
    font-size: var(--text-base);

    cursor: pointer;
    user-select: none;

    list-style-type: none;

    padding: .3em .6em;

    border-radius: .3em;

    transition: 200ms;

}

.menu-items span {

    font-size: var(--text-sm);
    font-style: italic;
    color: var(--text-secondary);

    transition: 200ms;

}

.menu-items li:hover {

    background-color: var(--bg-secondary);
    color: var(--bronze-600);

}

.menu-items li:hover span {
    color: var(--text-secondary);
}

.menu-items hr {

    border: none;
    height: 1px;

    background-color: var(--bg-tertiary);

    width: calc(100% - .4em);
    margin-left: .2em;

    margin-top: .6em;
    margin-bottom: .6em;

}

.menu-items #logout {

    color: var(--danger-600);

}

.menu-items #logout:hover {

    background-color: var(--danger-100);
    color: var(--danger-700);

}
