hr {

    width: 90%;

}

main.paymentMethods {

    width: calc(100% - 6em);

    min-height: calc(100vh - 5em);
    margin-top: 5em;

    margin-left: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

main.paymentMethods h3 {

    color: var(--text-default);
    font-size: 1.5rem;

}

.payments {

    width: 90%;
    min-height: 30em;

    border-radius: .5em;

}

.payments table {
    
    width: calc(100% - 3rem);
    margin: 0 auto;
    margin-top: .5rem;
    
    border-spacing: 0px;

    color: var(--text-default);
    
}

.payments table svg {

    width: 1.2rem;
    height: 1.2rem;
    fill: var(--text-default);

}

.payments table tbody td {

    padding: .2rem .3rem;

}

.payments table tbody td:first-child div{

    display: flex;
    align-items: center;

    gap: .5rem;

}

.payments table th {

    text-align: left;
    border-bottom: .5px solid var(--lines-secondary);
    margin-bottom: .5rem;

}

.payments table tbody tr{

    transition: 200ms;

}

.payments table tbody tr:hover{

    background-color: var(--bg-secondary);

    transition: 200ms;

}

.payments table .actions {

    width: 15%;
    text-align: center;

}

.payments table .actions div {


    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

}


.payments table .actions svg {

    fill: var(--text-default);

    padding: .2rem;
    cursor: pointer;

    border-radius: .3rem;

    transition: 200ms;

}

.payments table .actions svg:hover {

    background-color: var(--bg-tertiary);

    transition: 200ms;

}

.payment-bar {

    width: calc(90% - 4rem);

    display: flex;
    justify-content: space-between;

    padding: 0 2rem;

}

.payment-bar button {

    border: none;

    padding: .2rem .3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: .5rem;
    border-radius: .3em;

    background-color: var(--bronze-main);
    color: var(--text-white);

    cursor: pointer;

    transition: 200ms;
    
}

.payment-bar button:hover {

    background-color: var(--bronze-shade);
    
    transition: 200ms;

}

.payment-bar button svg {

    fill: var(--text-white);

}

.form-body {

    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: 55% 45%;

}

.form-body .grid-tile span{

    display: flex;
    flex-direction: column;

    gap: .5em;

    margin-bottom: 1em;

}

.form-body .grid-tile span label {
    
    color: var(--text-default);
    
}

.form-body .grid-tile span input {

    width: 25em;

    background-color: transparent;
    border: none;

    border-bottom: .2px solid var(--lines-secondary);

    outline: transparent;

    color: var(--text-default);

    padding-left: .5em;

}

.form-body .grid-tile span input:focus {

    border-bottom: 1px solid var(--lines);

}